<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<script src="__PUBLIC__/js/jquery-2.0.3.min.js"></script>
<title>测试</title>
</head>
<body>

	<form action="" method="post" style="text-align:left">
        送检人<input type="text" name="forpeople" value="">
        技术厂长<input type="text" name="manager" value="">
        养殖场户名<input type="text" name="farmname" value="">
        联系电话<input type="text" name="mobile_phone" value="">
        微信号<input type="text" name="wx_code" value="">
        养殖场地址<input type="text" name="addr" value="">
        选择检测中心<select style="width:100px">
        	<option value="">请选择</option>
        </select>
        选择健康管理顾问<select name="srtc_id">
        	<option value="">请选择</option>
        </select>
        动物种类<select name="veterinary_id">
        	<option value="">请选择</option>
        </select>
        日龄<input type="text" name="day_old" value="">
        养殖总量<input type="text" name="total" value="">
        检测群体量<input type="text" name="test_population" value="">
        采样时间<input type="text" name="sampling_time" value="">
        送检时间<input type="text" name="submission_time" value="">
        样品种类<select name="sample_type">
        	<option value="">请选择</option>
        </select>
        样品数量<input type="text" name="sample_quantity" value="">
        检测目的<select name="detection">
        	<option value="">请选择</option>
        </select>
        精神状态<textarea name="spirit" style="width:200px;height:50px;"></textarea>
        呼吸道<textarea type="text" name="respiratory" style="width:200px;height:50px;"></textarea>
        采食量<textarea type="text" name="feed_intake" style="width:200px;height:50px;"></textarea>
        粪便状态<textarea type="text" name="faeces" style="width:200px;height:50px;"></textarea>
        是否腹泻<input type="radio" name="diarrhea" value="1">是
        	<input type="radio" name="diarrhea" value="2">否
        死亡率<input type="text" name="mortality" value="">
        临床症状<textarea type="text" name="clinical_symptom" style="width:200px;height:50px;"></textarea>
        剖检症状<textarea type="text" name="check_symptom" style="width:200px;height:50px;"></textarea>
        剖检图片上传<textarea type="" name="check_picture" style="width:200px;height:50px;"></textarea>
        免疫程序<textarea type="text" name="immunization" style="width:200px;height:50px;"></textarea>
        该地区疾病流程情况<textarea type="text" name="disease" style="width:200px;height:50px;"></textarea>
        检测项目<select name="test_item">
        	<option value="">请选择</option>
        </select>
        
    </form>
    <script>
		
	</script>
</body>
</html>
